body{
    font-family: 'Poppins', sans-serif;;
    text-align: center;
    background-color: white
}

header{
    padding: 2% 3% 0;
}

.header-1{
    font-size: clamp(22px, 2.5vw, 35px);
    font-weight: lighter;
    color: hsl(0, 3%, 83%);
}

.header-2{
    font-size: clamp(22px, 2.5vw, 35px);
    font-weight: 900;
}

.header-p{
    font-size: 17px;
    margin: 0 auto;
    font-weight: 200;
    color: #a3a5ae;
}

.card-container{
    padding: 2% 5%;
    margin: 0;
}

.card{
    padding: 5% 5% 5%;
    margin: 3% 5% 3%;
    border-top: 6px solid;
    background-color: whites;
    border-radius: 5px;
    box-shadow: 0px 9px 40px -15px #a3a5ae;
    text-align: left;
}

.card-1 {
    border-top-color: hsl(180, 62%, 55%);
}

.card-2{
    border-top-color: hsl(0, 78%, 62%);
}

.card-3{
    border-top-color: hsl(34, 97%, 64%);
}

.card-4{
    border-top-color:hsl(212, 86%, 64%);
}

.icon{
    width: 45px; 
    align-self: flex-end;
}

.card-h3{
    font-size: 25px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

.card-desc{
    font-size: 15px;
    color: hsl(0, 0%, 69%);
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(min-width: 1200px){

    .header-p {
        margin: 0 auto;
        width: 45%;
        font-weight: 200;
        color: #a3a5ae;
    }

    .card-container.grid {
        display: grid;
        align-items: center;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-1 {
        grid-column: 1;
        grid-row: 1/3;
    }

    .card-4 {
        grid-column: 3;
        grid-row: 1/3;
    }
}